@media (min-width: 320px) and (max-width: 575.99px) {
  .navbar button span i {
    color: #e5745d;
  }
  .navbar_button a {
    padding: 5px 8px;
    text-decoration: none;
    color: #ffffff;
    background: #e5745d;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    position: relative;
    left: 86px;
    top: 5px;
  }
  .navbar_button a::after {
    width: 116px;
    height: 31px;
  }
  .navbar-collapse ul li a {
    color: #00413d;
  }
  .navbar-nav {
    column-gap: 20px;
    align-items: center;
  }
  .banner h1 {
    font-size: 35px;
    font-family: "Vollkorn", serif;
    font-weight: 600;
    color: #ffffff;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .banner p {
    font-size: 15px;
    font-family: "Jost", sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    width: 300px;
    line-height: 20px;
    padding-bottom: 50px;
  }

  .common_button a {
    padding: 5px 18px;
    text-decoration: none;
    color: #ffffff;
    background: #e5745d;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    position: relative;
    left: 71px;
    top: 5px;
  }

  .common_button a::after {
    top: 3px;
    left: 3px;
    position: absolute;
    width: 116px;
    height: 31px;
    content: "";
    border: 2px solid white;
  }

  .banner_overlay {
    height: 0px;
    width: 0px;
  }

  .banner {
    height: 400px;
  }

  .common_text_part h4 {
    font-size: 14px;
    padding-top: 49px;
    padding-left: 93px;
  }
  .third_part_text h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 147px;
  }
  .third_part_text h4::after {
    position: absolute;
    top: 54px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 98px;
  }
  .common_text_part h2 {
    font-size: 35px;
    width: 300px;
    text-align: center;
    padding-top: 13px;
    color: #00413d;
  }
  .third_part_card {
    padding-top: 30px;
    padding-left: 20px;
  }

  .third_part_card .card {
    padding-left: 20px;
    width: 260px !important;
    height: 246px;
    box-shadow: 10px 10px 33px -21px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
  }

  .third_part_card img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
  }
  .third_part_card .card-body {
    padding: 25px 0px;
  }
  .third_part_card .card-title {
    font-size: 15px;
  }
  .third_part_card .card-body p {
    width: 215px;
    color: #00413d;
    font-size: 12px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    line-height: 17px;
  }

  .fourth_part_sect {
    padding: 50px 0px;
  }
  .fourth_part_sect img {
    width: 85%;
    margin-bottom: 40px;
  }

  .about_imgs {
    margin-bottom: 0px;
  }
  .about_img_one {
    margin-top: 20px;
  }

  .about_img_two {
    margin-top: -10px;
  }

  .fourth_part_sect {
    padding: 50px 0px;
    padding-left: 0px;
    padding-left: 25px;
  }

  .about_text_part h4 {
    color: #e5745d;
    font-family: "Vollkorn", serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 49px;
    padding-left: 105px;
  }

  .fouth_part_text h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 104px;
  }

  .fouth_part_text h4::after {
    position: absolute;
    top: 54px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 55px;
  }

  .about_text_part h2 {
    font-family: "Vollkorn", serif;
    font-size: 35px;
    font-weight: 400;
    width: 300px;
    padding-top: 30px;
    text-align: center;
    margin-left: -27px;
    line-height: 40px;
  }

  .about_text_part p {
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 246px;
    text-align: center;
    padding: 30px 0px;
    line-height: 17px;
    color: #00413d;
  }

  .about_text_part .about_button a {
    padding: 5px 8px;
    text-decoration: none;
    color: #ffffff;
    background: #e5745d;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    position: relative;
    left: 40px;
    top: 0px;
  }

  .about_text_part .about_button a::after {
    top: 3px;
    left: 3px;
    position: absolute;
    width: 123px;
    height: 31px;
    content: "";
    border: 2px solid white;
  }
  .fifth_part_card {
    width: 250px !important;
    height: 250px;
    position: relative;
    box-shadow: 10px 10px 33px -21px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .fifth_part_card h2 {
    font-size: 20px;
    margin-top: 83px;
  margin-left: 110px;
}

.fifth_part_card img {
    width: 100px;
    height: 100px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }
  .fifth_part_card .fifth_part_card_body h5 {
    font-size: 15px;
}

.sixth_part_header h4 {
    color: #e5745d;
    font-family: "Vollkorn", serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 49px;
    padding-left: 115px;
  }

  .sixth_part_header h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 104px;
  }
  .sixth_part_header h4::after {
    position: absolute;
    top: 54px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 55px;
  }

  .sixth_part_header h2 {
    font-family: "Vollkorn", serif;
    font-size: 35px;
    font-weight: 400;
    width: 300px;
    padding-top: 30px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .sixth_part_card {
    width: 280px !important;
    height: 430px;
    margin-left: 8px;
    box-shadow: 10px 10px 33px -21px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
  }
  

  .sixth-card-body h4 {
    color: #e5745d;
    font-family: "Vollkorn", serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .sixth-card-body h3 {
    font-family: "Vollkorn", serif;
    font-size: 20px;
    font-weight: 400;
    width: 247px;
    text-align: center;
    padding-top: 5px;
    color: #00413d;
    line-height: 27px;
  }

  .sixth-card-body p {
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 247px;
    text-align: center;
    padding: 8px 0px;
    color: #00413d;
  }

  .sixth-card-body a {
    text-decoration: none;;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 147px;
    margin-left: 65px;
    color: #00413d;
  }

  .explore_more_button .common_button a{
    text-align: center;
    padding: 6px 14px;
    text-decoration: none;
    color: #ffffff;
    background: #e5745d;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    position: relative;
    left: 4px;
    top: 11px;
  }

  .explore_more_button .common_button a::after {
    top: 3px;
    left: 3px;
    position: absolute;
    width: 124px;
    height: 33px;
    content: "";
    border: 2px solid white;
  }

  .seventh_part_cont h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 120px;
  }

  .seventh_part_cont h4::after {
    position: absolute;
    top: 54px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 70px;
  }

  .seventh_part_text h4{
    margin-left: -34px;
  }

  .navbar-toggler_two{
    margin: -17px auto;
  }

  .seventh_part_cont{
    margin-top: 25px;
  }

  .eight_part_card {
    width: 250px !important;
    height: 250px;
    top: 45px;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;    
    box-shadow: 10px 10px 33px -21px rgba(0, 0, 0, 0.75);
  }

  .eight_part_card_body {
    background-color: #00413d;
    position: absolute;
    width: 250px;
    height: 80px;
    bottom: 0px;
  } 

  .eight_part_card_body h5 {
    font-family: "Vollkorn", serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
  }
  .eight_part_card_body p {
    font-size: 12px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    text-align: center;
    color: #ffffff;
    opacity: 50%;
  }
  .eight_part_row2 {
    padding-top: 0px;
  }

  .nineth_part_header  h4 {
    font-size: 14px;
    padding-top: 49px;
    padding-left: 93px;
    margin-left: -34px;
  }
  .nineth_part_header h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 120px;
  }

  .nineth_part_header h4::after {
    position: absolute;
    top: 54px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 70px;
  }

  .nineth_part_col-lg-6 .nineth_part_text {
    background-color: white;
    margin-top: 50px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 10px #e5745d solid;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 247px;
    text-align: center;
  }
  .nineth_part_cont .row{
    margin-left: 15px;
  }

  .nineth_part_two{
    opacity: 0%;
    height: 0px;
    width: 0px;
  }

  .nine_part_review_col-lg-6 {
    margin-top: 50px;
    height: 0px;
    width: 0px;
    opacity: 0%;
  }

  .tenth_part_col-lg-5{
    margin-top: -80px;
  }

  .tenth_part_header h4 {
    font-size: 14px;
    padding-top: 49px;
    padding-left: 93px;
    margin-left: 45px;
  }
  

  .tenth_part_col-lg-5 img {
    width: 85%;
    height: 100%;
    padding-top: 130px;
    margin-left: 20px;
  }

  .tenth_part_header h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 117px;
  }

  .tenth_part_header h4::after {
    position: absolute;
    top: 55px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 69px;
  }
}
