@media (min-width: 320px) and (max-width: 575.99px) {
  .navbar button span i {
    color: #e5745d;
  }
  .navbar_button a {
    padding: 5px 8px;
    text-decoration: none;
    color: #ffffff;
    background: #e5745d;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    position: relative;
    left: 86px;
    top: 5px;
  }
  .navbar_button a::after {
    width: 116px;
    height: 31px;
  }
  .navbar-collapse ul li a {
    color: #00413d;
  }
  .navbar-nav {
    column-gap: 20px;
    align-items: center;
  }
  .banner h1 {
    font-size: 35px;
    font-family: "Vollkorn", serif;
    font-weight: 600;
    color: #ffffff;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .banner p {
    font-size: 15px;
    font-family: "Jost", sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    width: 300px;
    line-height: 20px;
    padding-bottom: 50px;
  }

  .common_button a {
    padding: 5px 18px;
    text-decoration: none;
    color: #ffffff;
    background: #e5745d;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    position: relative;
    left: 71px;
    top: 5px;
  }

  .common_button a::after {
    top: 3px;
    left: 3px;
    position: absolute;
    width: 116px;
    height: 31px;
    content: "";
    border: 2px solid white;
  }

  .banner_overlay {
    height: 0px;
    width: 0px;
  }

  .banner {
    height: 400px;
  }

  .common_text_part h4 {
    font-size: 14px;
    padding-top: 49px;
    padding-left: 93px;
  }
  .third_part_text h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 147px;
  }
  .third_part_text h4::after {
    position: absolute;
    top: 54px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 98px;
  }
  .common_text_part h2 {
    font-size: 35px;
    width: 300px;
    text-align: center;
    padding-top: 13px;
    color: #00413d;
  }
  .third_part_card {
    padding-top: 30px;
    padding-left: 20px;
  }

  .third_part_card .card {
    padding-left: 20px;
    width: 260px !important;
    height: 246px;
    box-shadow: 10px 10px 33px -21px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
  }

  .third_part_card img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
  }
  .third_part_card .card-body {
    padding: 25px 0px;
  }
  .third_part_card .card-title {
    font-size: 15px;
  }
  .third_part_card .card-body p {
    width: 215px;
    color: #00413d;
    font-size: 12px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    line-height: 17px;
  }

  .fourth_part_sect {
    padding: 50px 0px;
  }
  .fourth_part_sect img {
    width: 85%;
    margin-bottom: 40px;
  }

  .about_imgs {
    margin-bottom: 0px;
  }
  .about_img_one {
    margin-top: 20px;
  }

  .about_img_two {
    margin-top: -10px;
  }

  .fourth_part_sect {
    padding: 50px 0px;
    padding-left: 0px;
    padding-left: 25px;
  }

  .about_text_part h4 {
    color: #e5745d;
    font-family: "Vollkorn", serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 49px;
    padding-left: 105px;
  }

  .fouth_part_text h4::before {
    position: absolute;
    top: 52px;
    height: 7px;
    width: 7px;
    background-color: #e5745d;
    border-radius: 50%;
    content: "";
    left: 104px;
  }


  .fouth_part_text h4::after {
    position: absolute;
    top: 54px;
    height: 1px;
    width: 50px;
    background-color: #e5745d;
    content: "";
    left: 55px;
  }

  font-size: 35px;
    width: 300px;
    text-align: center;
    padding-top: 13px;
    color: #00413d;
}
