/* ============================
     Navbar STARTS
     =============================
      */

.nav-link a {
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #00413d !important;
}
.nav-link:hover {
  color: #e5745d;
}

.navbar {
  padding: 20px 0px;
}
.navbar_button a {
  text-decoration: none;
  color: #ffffff;
  background: #e5745d;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  position: relative;
}

.navbar_button a::after {
  top: 3px;
  left: 3px;
  position: absolute;
  width: 160px;
  height: 51px;
  content: "";
  border: 2px solid white;
}

.navbar-nav {
  column-gap: 20px;
}

/* ============================
     Navbar Ends
     =============================
      */

/* ====================-========
   2nd part starts
  =============================
*/
.banner {
  background-color: #00413d;
  height: 850px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.banner_overlay {
  height: 850px;
  width: 50%;
  background-image: url(./image/banner_overlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: -1500px;
  position: absolute;
  transition: 1.1s;
  z-index: 0;
}

.banner:hover .banner_overlay {
  right: 0px;
}

.banner_container {
  z-index: 1;
  position: relative;
}

.banner_bg {
  background-image: url(./image/banner_design.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 850px;
  width: 100%;
  scale: 0.9;
  left: -50px;
  top: 40px;
}
.banner h1 span {
  display: block;
}
.banner h1 {
  font-size: 100px;
  font-family: "Vollkorn", serif;
  font-weight: 700;
  color: #ffffff;
  padding-top: 200px;
  line-height: 110px;
  padding-bottom: 20px;
}

.banner p {
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  width: 650px;
  line-height: 30px;
  padding-bottom: 70px;
}

.banner p span {
  color: #ffffff;
}

.common_button a {
  text-decoration: none;
  color: #ffffff;
  background: #e5745d;
  padding: 20px 50px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  position: relative;
}

.common_button a::after {
  top: 5px;
  left: 5px;
  position: absolute;
  width: 174px;
  height: 56px;
  content: "";
  border: 2px solid white;
}

/* ============================
 2nd part Ends
 =============================
 */

/* ============================
 3rd part starts
 =============================
 */

.common_text_part {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.common_text_part h4 {
  color: #e5745d;
  font-family: "Vollkorn", serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 200px;    
}

.common_text_part h2 {
  font-family: "Vollkorn", serif;
  font-size: 50px;
  font-weight: 400;
  width: 517px;
  text-align: center;
  padding-top: 30px;
}

/* ============================
 3rd part Ends
 =============================
 */
